install-and-test: &install-and-test
  - checkout
  - restore_cache:
      key: node_modules-{{ checksum "package-lock.json" }}
  - run: npm install
  - save_cache:
      key: node_modules-{{ checksum "package-lock.json" }}
      paths:
        - node_modules
  - run: npm run build
  - run: npm run test

test-filters: &test-filters
  filters:
    tags:
      only: /.*/

version: 2.1
jobs:
  test-node-20: # Maintenance LTS, EOL 2026.04.30
    docker:
      - image: cimg/node:20.19
    steps:
      *install-and-test
  test-node-22: # Maintenance LTS, EOL 2027.04.30
    docker:
      - image: cimg/node:22.21
    steps:
      *install-and-test
  test-node-24: # Active LTS, EOL 2028.04.30
    docker:
      - image: cimg/node:24.12
    steps:
      *install-and-test
  test-node-25: # Current, EOL 2026.06.01
    docker:
      - image: cimg/node:25.2
    steps:
      *install-and-test
  build-and-test:
    docker:
      - image: cimg/node:lts
    steps:
      - when:
          condition: true
          steps:
            *install-and-test
      - persist_to_workspace:
          root: .
          paths:
            - build
  release:
    docker:
      - image: cimg/node:lts
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run: |
          echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
          npm publish --access public
workflows:
  version: 2
  build:
    jobs:
      - test-node-20:
          <<: *test-filters
      - test-node-22:
          <<: *test-filters
      - test-node-24:
          <<: *test-filters
      - test-node-25:
          <<: *test-filters
      - build-and-test:
          <<: *test-filters
          requires:
            - test-node-20
            - test-node-22
            - test-node-24
            - test-node-25
      - release:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v[0-9]+(\.[0-9]+)*(-(alpha|beta)\.[0-9]+)?/
          requires:
            - build-and-test
